<a href="https://colab.research.google.com/github/Softmax20/hello-world/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

from google.colab import drive
drive.mount("/content/gdrive")
%cd /content/gdrive/My Drive
X_df = pd.read_csv('trainX.csv')
Y_df = pd.read_csv('trainY.csv')
A_df = pd.read_csv('trainA.csv')
test_df = pd.read_csv('testX.csv')

tabels = [X_df, Y_df, A_df, test_df]

for tabel in tabels:
  tabel.drop('Unnamed: 0', axis=1, inplace=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive

In [3]:
drive.mount("/content/gdrive")
%cd /content/gdrive/My Drive
test_df = pd.read_csv('testX.csv')
test_df.drop('Unnamed: 0', axis=1, inplace=True)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive

In [4]:
# 194번과 비교했을 때 확실하게 수정해야할 61번 수정
A_df['Action'][61] = 0

In [4]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1, weights='distance').fit(X_df, A_df['Action'])
KNN_XA = pd.DataFrame(knn.predict(test_df))
KNN_XA.to_csv("/content/gdrive/My Drive/KNN_XA.csv")

In [5]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C=140, max_iter=10000, solver='liblinear').fit(X_df, A_df['Action'])
LR_XA = pd.DataFrame(LR.predict(test_df))
LR_proba = LR.predict_proba(X_df)
LR_pred = LR.predict(X_df)

In [ ]:
LR_XA

     0
0    0
1    1
2    0
3    0
4    0
..  ..
281  1
282  0
283  0
284  0
285  0

[286 rows x 1 columns]

In [ ]:
LR_XA.to_csv("/content/gdrive/My Drive/LR_XA.csv")

In [6]:
LR_index_boolean = pd.DataFrame(LR_pred!=A_df['Action'])
LR_index = LR_index_boolean[LR_index_boolean['Action']==True]
LR_wrong = X_df.iloc[LR_index.index]

In [7]:
LR_wrong

       X0    X1    X2    X3    X4    X5  ...  X11   X12   X13  X14  X15   X16
387  0.96  0.73  0.79  0.73  0.41  0.84  ...  0.7  0.57  0.63  0.4  0.6  0.33

[1 rows x 17 columns]

In [8]:
X_LR3 = X_df.iloc[(abs(LR_proba[:,0]-LR_proba[:,1])<0.3)]

In [9]:
X_LR3

       X0    X1    X2    X3    X4    X5  ...   X11   X12   X13   X14   X15   X16
11   0.36  0.68  0.36  0.39  0.77  0.23  ...  0.51  0.47  0.15  0.20  0.55  0.29
57   0.75  0.35  0.15  0.12  0.45  0.64  ...  0.25  0.61  0.20  0.95  0.32  0.38
196  0.36  0.06  0.30  0.19  0.51  0.24  ...  0.63  0.46  0.59  0.94  0.80  0.49
384  0.58  0.27  0.13  0.07  0.44  0.68  ...  0.94  0.47  0.55  0.46  0.19  0.94
387  0.96  0.73  0.79  0.73  0.41  0.84  ...  0.70  0.57  0.63  0.40  0.60  0.33
597  0.87  0.26  0.54  0.48  0.73  0.90  ...  0.48  0.68  0.99  1.00  0.71  0.78

[6 rows x 17 columns]